* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

header {
  margin: 0 13px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1071;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 0 30px;
}

.header-content .header-left a {
  color: #102b4e;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}

.header-content .header-left .header-icon img {
  width: 30px;
  height: 30px;
  margin-right: 1px;
}

.header-content .header-left .header-icon img:hover {
  color: #0276b3;
}

.header-content .header-left .header-item {
  border-right: 1px solid #a7a7a7;
}

.header-content .header-left .header-item:hover {
  color: #0276b3;
}

.header-content .header-left .header-text:hover {
  color: #0276b3;
}

.header-content .header-right i {
  color: #102b4e;
}

.header-content .header-right a {
  text-decoration: none;
}

.header-content .header-right span {
  color: #2861a4;
  font-size: 16px;
  font-weight: normal;
}

.header-content .header-right i:hover {
  color: #0276b3;
}

.navbar {
  background: #fff !important;
}

.navbar .navbar-brand img {
  width: 70px;
  height: 50px;
}

.navbar .navbar-collapse .navbar-nav .nav-item a {
  color: #0276b3;
}

.navbar .navbar-collapse .navbar-nav .nav-item #nav-img p,
.navbar .navbar-collapse .navbar-nav .nav-item #nav-img span {
  color: #333333;
}

.navbar .navbar-collapse .navbar-nav .nav-item #nav-img p:hover,
.navbar .navbar-collapse .navbar-nav .nav-item #nav-img span:hover {
  color: #2861a4;
}

.navbar .navbar-collapse .navbar-nav .nav-item a:hover {
  color: #2861a4;
}

.navbar .navbar-collapse .navbar-nav .nav-item #nav-img {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar .navbar-collapse .navbar-nav .nav-item img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.dropdown-menu {
  border: none !important;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-toggle .ford-icon {
  color: #0276b3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.dropdown-toggle:active .ford-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #fff;
}

.dropdown-toggle::after {
  border-top: none !important;
}

input[type="checkbox"] {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 30px;
  right: 19px;
  height: 22px;
  width: 30px;
}

.navbar-toggler {
  padding: 0 !important;
  border: none !important;
}

.spinner {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #333333;
}

.horizontal {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: right;
  margin-top: 4px;
}

.diagonal.part-1 {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
}

.diagonal.part-2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: right;
  margin-top: 4px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -9px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .ford-text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
}

.ford-text {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  margin-top: 6px;
}

@media screen and (max-width: 992px) {
  .header-content {
    display: none !important;
  }
  .nav-content {
    display: none !important;
  }
  .header-title {
    border-bottom: 1px solid #ddd;
  }
}

.carousel {
  padding: 0 8px;
}

.carousel .carousel-inner {
  position: relative;
}

.carousel .carousel-inner .carousel-item .btn-learn {
  position: absolute;
  bottom: 310px;
  left: 0;
}

.carousel .carousel-inner .carousel-caption {
  right: 0 !important;
  bottom: 0 !important;
}

.carousel .carousel-inner .carousel-caption .btn-learn {
  background-color: #0276b3;
  border: 1px solid #0276b3;
  padding: 15px 15px;
  border-radius: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

.carousel .carousel-inner .carousel-caption .btn-learn:hover {
  background-color: #fff;
  color: #0276b3;
  border-color: #333333;
}

.carousel .carousel-inner .carousel-content {
  position: absolute;
  bottom: 500px;
  left: 0px;
}

.carousel .carousel-inner .carousel-content h5 {
  color: #fff;
  font-size: 37.5px;
  font-weight: normal;
}

.carousel .carousel-inner .carousel-content .btn-raptor {
  background-color: #fff;
  border: 1px solid #37a9e8;
  padding: 15px 20px;
  border-radius: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.carousel .carousel-inner .carousel-content .btn-raptor:hover {
  background-color: #0276b3;
  color: #fff;
  border-color: #37a9e8;
}

.carousel-control-prev {
  position: absolute;
  right: 30px;
}

#carouselFord .carousel-indicators li {
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

#carouselFord .carousel-indicators li.active {
  background: #fff;
}

.carousel-next-icon,
.carousel-prev-icon {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  font-weight: normal !important;
  background: rgba(0, 0, 0, 0.6);
}

.carousel-next-icon .fa,
.carousel-prev-icon .fa {
  text-align: center;
  width: 10px;
  height: 10px;
  font-size: 30px;
  font-weight: 600;
}

.carousel-next-icon {
  position: absolute;
  right: 10px;
}

.carousel-prev-icon {
  position: absolute;
  left: 10px;
}

.carousel-next-icon:hover,
.carousel-prev-icon:hover {
  background: #fff;
  border: 1px solid #0276b3;
  color: #0276b3;
}

@media screen and (min-width: 1200px) {
  .carousel-content {
    position: absolute !important;
    bottom: 400px !important;
    left: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .carousel-item .btn-learn {
    position: absolute !important;
    bottom: 170px !important;
    left: 0;
  }
  .carousel-item .carousel-content {
    position: absolute !important;
    bottom: 300px !important;
    left: 0px;
  }
}

@media screen and (max-width: 992px) {
  .carousel-item .btn-learn {
    position: absolute !important;
    bottom: 130px !important;
    left: 0;
  }
  .carousel-item .carousel-content {
    position: absolute !important;
    bottom: 200px !important;
    left: 0px;
  }
}

.pickup h5 {
  margin-top: 20px;
  color: #333333;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.pickup #pickupFord .carousel-indicators li {
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #37a9e8;
}

.pickup #pickupFord .carousel-indicators li.active {
  background: #37a9e8;
}

.pickup .container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.pickup .container img {
  height: auto;
  width: 100%;
  max-width: 400px;
}

.pickup .container .pickup-product {
  margin-top: 10px;
  color: #0276b3;
  font-size: 23.8px;
  font-weight: normal;
  cursor: pointer;
}

.pickup .container .price {
  color: #a7a7a7;
  font-size: 16px;
  font-weight: normal;
}

.pickup .container .price sup {
  color: #0276b3;
}

.pickup .container .btn-overview {
  color: #fff;
  padding: 10px 30px;
  margin: 10px 0;
  background: #0276b3;
  border-radius: 0;
}

.pickup .container .btn-overview:hover {
  background-color: #fff;
  color: #2861a4;
  border-color: #333333;
}

.pickup .container .product-view {
  color: #0276b3;
  font-size: 18px;
  font-weight: normal;
}

.pickup .container p.product-view:hover {
  cursor: pointer;
  color: #2861a4;
  font-size: 18px;
  font-weight: normal;
}

.vehicle {
  padding: 0 15px;
}

.vehicle .vehicle-content h5 {
  margin-top: 10px;
  color: #333333;
  font-size: 36px;
  font-weight: normal;
}

.vehicle .vehicle-content p {
  color: #a7a7a7;
  font-size: 16px;
  font-weight: normal;
}

.vehicle .vehicle-content .btn-vehicle {
  margin-top: 20px;
  background: #0276b3;
  padding: 10px 40px;
  border-radius: 0;
  color: #fff;
}

.vehicle .vehicle-content .btn-vehicle:hover {
  background-color: #fff;
  color: #2861a4;
  border-color: #0276b3;
}

.offer {
  margin-top: 20px;
  padding: 0 15px;
}

.offer .offer-container {
  position: relative;
}

.offer .offer-container .offer-content {
  position: absolute;
  top: 0;
  left: 530px;
}

.offer .offer-container .offer-content h5 {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 2px;
}

.offer .offer-container .offer-item {
  position: absolute;
  bottom: 0;
  left: 650px;
}

.offer .offer-container .offer-item p {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.5px;
}

.offer .offer-container .offer-item .fa {
  width: 30px;
  height: 33px;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.offer .offer-container .offer-item .fa:hover {
  background-color: #fff;
  color: #2861a4;
  border-color: #0276b3;
}

@media screen and (min-width: 1200px) and (max-width: 1295px) {
  .offer-content {
    position: absolute !important;
    top: 0;
    left: 350px !important;
  }
  .offer-item {
    position: absolute;
    bottom: 0;
    left: 530px !important;
  }
}

@media screen and (max-width: 900px) {
  .offer-content {
    position: absolute !important;
    top: 0;
    left: 100px !important;
  }
  .offer-content h5 {
    font-size: 30px !important;
  }
  .offer-item {
    position: absolute;
    bottom: 0;
    left: 420px !important;
  }
}

@media screen and (max-width: 768px) {
  .offer-content {
    position: absolute !important;
    top: 0;
    left: 0px !important;
  }
  .offer-content h5 {
    font-size: 25px !important;
    letter-spacing: 2px;
  }
  .offer-item {
    position: absolute;
    bottom: 0;
    left: 230px !important;
  }
}

@media screen and (max-width: 992px) {
  .offer-content {
    position: absolute !important;
    top: 0;
    left: 165px !important;
  }
  .offer-item {
    position: absolute;
    bottom: 0;
    left: 370px !important;
  }
}

@media screen and (max-width: 1200px) {
  .offer-container img {
    height: 250px !important;
  }
  .offer-container .offer-content {
    position: absolute !important;
    top: 0;
    left: 290px !important;
  }
  .offer-container .offer-item {
    position: absolute;
    bottom: 0;
    left: 390px !important;
  }
}

.new {
  padding: 0 15px;
}

.new .new-top .new-top-right {
  text-align: center;
}

.new .new-top .new-top-right h5 {
  color: #333333;
  font-size: 42px;
  font-weight: normal;
  padding-top: 80px;
  letter-spacing: 3px;
}

.new .new-top .new-top-right p {
  color: #a7a7a7;
  font-size: 16px;
  font-weight: 500;
}

.new .new-item {
  position: relative;
}

.new .new-item img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.new .new-item .new-content {
  position: absolute;
  bottom: 1px;
  left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: rgba(2, 118, 179, 0.8);
  cursor: pointer;
}

.new .new-item .new-content .new-icon .fa {
  width: 30px;
  height: 33px;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid #fff;
  line-height: 1;
  text-align: center;
}

.new .new-item .new-content .new-icon .fa:hover {
  background-color: #fff;
  color: #2861a4;
  border-color: #0276b3;
}

.new .new-item .new-ford {
  padding: 15px;
}

.new .new-item .new-ford p:first-child {
  color: #fff;
  font-size: 27.5px;
  font-weight: normal;
}

.new .new-item .new-ford .fa {
  width: 44px !important;
  height: 45px !important;
  padding: 15px !important;
  border-radius: 50%;
  border: 1px solid #fff;
}

.new .new-item:hover img {
  overflow: hidden;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.new-2 {
  padding: 0 15px;
}

.new-2 h5 {
  text-align: center;
  color: #333333;
  font-size: 27.5px;
  font-weight: normal;
  padding: 30px 0;
}

.new-2 .new-item .img-special {
  width: 714px !important;
}

.new-2 .new-viewmore {
  background: #2861a4;
}

.new-2 .new-viewmore p.new-view {
  text-align: center;
  padding-top: 15px;
}

.new-2 .new-viewmore a.new-btn {
  color: #fff;
  font-size: 20.8px;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.1;
}

.new-2 .new-viewmore .icon {
  width: 30px;
  height: 33px;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.disclosures .collapse.show {
  overflow-y: scroll;
}

.disclosures .collapse.show::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 5px;
  line-height: 5px;
  overflow: hidden;
}

.disclosures .collapse.show ::-webkit-scrollbar-track {
  background-color: gray;
}

.disclosures ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.disclosures .collapse.show::-webkit-scrollbar-thumb {
  background-color: #2861a4;
}

.disclosures ::-webkit-scrollbar-thumb {
  background-color: grey;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.disclosures .dis-body {
  list-style-type: none;
}

.disclosures p {
  text-align: center;
  padding: 5px 0;
  margin: 20px 10px;
  margin-bottom: 40px;
}
.disclosures p.text {
  border: 1px solid #37a9e8;
  transition: all 0.5s;
}
.disclosures p.text:hover {
  border: none;
}
.disclosures .card-body {
  background: #f7f7f7;
}
.disclosures p a {
  text-transform: uppercase;
  color: #3b93d4;
}

.disclosures p a:hover {
  color: #2861a4;
  text-decoration: none;
}

.disclosures p a i {
  margin-left: 5px;
  font-size: 16px;
}

.disclosures .disclosures__content {
  background-color: #f7f7f7;
  color: #333333;
  height: 500px;
}

.recall {
  background-color: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 40px;
}

.recall h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #d92e14;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
  line-height: 1.1;
}

.recall p {
  padding-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.recall p a {
  background-color: #d92e14;
  border: 1px solid #d92e14;
  padding: 15px 20px;
  border-radius: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  width: 270px;
  line-height: 1.25;
}

.recall p a:hover {
  background-color: #fff;
  color: #d92e14;
  border-color: #d92e14;
}

.residents {
  background-color: #092a46;
  padding-top: 15px;
  padding-bottom: 15px;
}

.residents h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
  line-height: 1.1;
}

.residents p {
  text-align: center;
}

.residents p a {
  -webkit-text-decoration: solid;
  text-decoration: solid;
}

.residents h2 {
  margin-bottom: 10px;
  text-align: center;
}

.residents h2 a {
  background-color: #0276b3;
  border: 1px solid #0276b3;
  padding: 15px 20px;
  border-radius: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  width: 370px;
  line-height: 1.25;
}

.residents h2 a:hover {
  background-color: #fff;
  color: #092a46;
  border-color: #092a46;
}

.company {
  background-color: #242424;
  padding-bottom: 80px;
}

.col-2dot4 {
  width: 20%;
}

.col-2dot4 p {
  padding-bottom: 10px;
}

.col-2dot4 ul {
  list-style-type: none;
}

.col-2dot4 ul li {
  padding-bottom: 3px;
}

.col-2dot4 ul li a {
  color: #a7a7a7;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
  font-weight: 100;
}

.col-2dot4 ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.company__medium-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.medium-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.medium-left p {
  padding-bottom: 10px;
}

.medium-left ul {
  list-style-type: none;
}

.medium-left ul li {
  padding-bottom: 3px;
}

.medium-left ul li a {
  color: #a7a7a7;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
  font-weight: 100;
}

.medium-left ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.medium-left__left {
  width: 50%;
}

.medium-left__right {
  width: 50%;
}

.medium-right {
  width: 50%;
}

.medium-right .medium-right__content {
  background-color: #242424;
}

.medium-right .medium-right__content p {
  color: #fff;
  text-align: left;
}

.medium-right .medium-right__content:hover {
  cursor: pointer;
}

.medium-right .medium-right__content ul {
  list-style-type: none;
}

.medium-right .medium-right__content ul li {
  padding-bottom: 3px;
}

.medium-right .medium-right__content ul li a {
  color: #a7a7a7;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
  font-weight: 100;
}

.medium-right .medium-right__content ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.medium-right .medium-right__content  .company-collapse{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #a7a7a7;
}
.sw {
  background-color: #242424;
}

.sw p {
  color: #fff;
  text-align: left;
}

.sw ul {
  list-style-type: none;
}

.sw ul li {
  padding-bottom: 3px;
}

.sw ul li a {
  color: #a7a7a7;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
  font-weight: 100;
}

.sw ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.sw__content {
  background-color: #242424;
}

.sw__content p {
  color: #fff;
  text-align: left;
}

.sw__content:hover {
  cursor: pointer;
}

.sw__content ul {
  list-style-type: none;
}

.sw__content ul li {
  padding-bottom: 3px;
}

.sw__content ul li a {
  color: #a7a7a7;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
  font-weight: 100;
}

.sw__content ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.company__large-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company__medium-window {
  display: none;
}

.company__small-window {
  display: none;
}

@media screen and (max-width: 992px) {
  .company__large-window {
    display: none;
  }
  .company__medium-window {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .company__small-window {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .company__large-window {
    display: none;
  }
  .company__medium-window {
    display: none;
  }
  .company__small-window {
    display: block;
  }
}

.search {
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search .search__left {
  width: 50%;
  font-size: 27.5px;
}

.search .search__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search .search__right a {
  color: #a7a7a7;
  padding: 5px;
  font-weight: 100;
}

.search .search__right a:hover {
  color: #fff;
  text-decoration: none;
}

.search .search__right .popular {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .search__left {
    width: 0;
    display: none;
  }
  .search__right {
    width: 100%;
  }
}

.update {
  background-color: #102b4e;
}

.update p {
  color: #37a9e8;
}

.update a {
  text-decoration: none;
  font-size: 20.8px;
}
.update .update-title {
  color: #fff;
  font-size: 16px;
}
.update .fa-envelope {
  color: #fff;
  height: 40px;
  width: 40px;
  background-color: #37a9e8;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}
.update .fa-list-alt {
  color: #fff;
  height: 40px;
  width: 40px;
  background-color: #37a9e8;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}
.update .fa-facebook-f {
  color: white;
  height: 30px;
  width: 30px;
  background-color: #0276b3;
  text-align: center;
  font-size: 15px;
  line-height: 2;
}
.update .fa-twitter {
  color: white;
  height: 30px;
  width: 30px;
  background-color: #37a9e8;
  text-align: center;
  font-size: 15px;
  line-height: 2;
}
.update .fa-youtube{
  color: white;
  height: 30px;
  width: 30px;
  background-color: #ff0505;
  text-align: center;
  font-size: 15px;
  line-height: 2;
}
.update .fa-instagram{
  color: white;
  height: 30px;
  width: 30px;
  background-color: #dc2c75;
  text-align: center;
  font-size: 15px;
  line-height: 2;
}
@media screen and (max-width: 992px) {
  .update__hidden {
    display: none;
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f7f7f7;
}

.footer__top p i {
  color: #0276b3;
  font-size: 20px;
}

.footer__top p a {
  font-weight: 100;
  font-size: 14px;
  text-decoration: underline;
  color: #0276b3;
}

.footer__logo {
  width: 80px;
}

.footer__logo img {
  width: 100%;
}

.footer__middle {
  background-color: #f7f7f7;
}

.footer__middle i {
  color: #333333;
  font-size: 14px;
}

.footer__middle span {
  color: #333333;
  font-size: 14px;
  font-weight: 100;
}

.footer__bottom {
  background-color: #f7f7f7;
  padding-bottom: 50px;
}

.footer__bottom a {
  color: #333333;
  font-weight: 100;
  text-decoration: none;
  padding: 5px 5px;
  font-size: 14px;
}

.footer__hidden {
  background-color: #f7f7f7;
}

.footer__logo2 {
  display: none;
  width: 80px;
}

.footer__logo2 img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .logo-hidden {
    display: none;
  }
  footer .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 5px;
  }
  footer .footer__logo2 {
    display: block;
  }
}
.scrollToTop {
  font-weight: bold;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  text-decoration: none;
  position: fixed;
  bottom: 24px;
  right: 2%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.scrollToTop i {
  position: absolute;
  right: 12px;
  bottom: 8px;
  color: #fff;
  font-size: 30px;
}
.scrollToTop:hover {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */
