.carousel{
    padding: 0 8px;
    .carousel-inner{
        position: relative;
        .carousel-item{
            .btn-learn{
                position: absolute;
                bottom: 310px;
                left: 0;
            }
        }
        .carousel-caption{
            right: 0!important;
            bottom:0!important;
            .btn-learn{
                @include styleButton($color-blue-0,$color-blue-0,$pd-1,$pd-1,0);
                color: $color-white-0;
            }
            .btn-learn:hover{
                @include styleButtonHover($color-white-0,$color-blue-0,$color-black-0);
            }
        }
        .carousel-content{
            position: absolute;
            bottom :500px;
            left: 0px;
            h5{
                @include styleText($color-white-0,$fs-2 + 10,$fw-normal);

            }
            .btn-raptor{
                @include styleButton($color-white-0,$color-blue-1,$pd-1,$pd-2,0);
            }
            .btn-raptor:hover{
                @include styleButtonHover($color-blue-0,$color-white-0,$color-blue-1);
            }
        }
    }
}
.carousel-control-prev{
    position: absolute;
    right: 30px;
}
#carouselFord .carousel-indicators li{
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #ffffff;
}
#carouselFord .carousel-indicators li.active{
    background: $color-white-0;
}
.carousel-next-icon, .carousel-prev-icon {
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.8);
    padding: 15px;
    font-weight: normal!important;
    background: rgba(0,0,0,0.6);
    .fa{
        text-align: center;
        width: 10px;
        height: 10px;
        font-size: 30px;
        font-weight: 600;
    }
 
}
.carousel-next-icon{
    position: absolute;
    right: 10px;
}
.carousel-prev-icon{
    position: absolute;
    left: 10px;
}
.carousel-next-icon:hover, .carousel-prev-icon:hover{
    background: $color-white-0;
    border: 1px solid $color-blue-0;
    color: $color-blue-0;
}
@media screen and(min-width:1200px){
    .carousel-content{
        position: absolute!important;
        bottom :400px!important;
        left: 0px;
    }
}
@include responsive("extra-large"){
    .carousel-item{
        .btn-learn{
            position: absolute!important;
            bottom: 170px!important;
            left: 0;
        }
        .carousel-content{
            position: absolute!important;
            bottom :300px!important;
            left: 0px;
        }
    }
}

@include responsive("large"){
        .carousel-item{
            .btn-learn{
                position: absolute!important;
                bottom: 130px!important;
                left: 0;
            }
            .carousel-content{
                position: absolute!important;
                bottom :200px!important;
                left: 0px;
            }
        }
}