.company{
	    background-color: #242424;
        padding-bottom: 80px; 
}
    .col-2dot4 {	  
	    width: 20%;
        p{
         padding-bottom: 10px;
    	}
        ul{
    	    list-style-type: none;
            li{
  	            padding-bottom: 3px;
	            a{
                color: #a7a7a7;
                transition: all .05s;
                font-weight: 100;
                &:hover{
                    color: $color-white-0;
                    text-decoration: none;
                }
            }
        }
    }
}
.company__medium-window{
    display: flex;
}
.medium-left{
    display: flex;
    width: 50%;
    p{
        padding-bottom: 10px;
    }
    ul{
        list-style-type: none;
        li{
            padding-bottom: 3px;
            a{
                color: #a7a7a7;
                transition: all .05s;
                font-weight: 100;
                &:hover{
                    color: $color-white-0;
                    text-decoration: none;
                }
            }
        }
    }
}
.medium-left__left{
    width: 50%;
}
.medium-left__right{
    width: 50%;
}
.medium-right{
    width: 50%;
    .medium-right__content{
        background-color: #242424;
        p{
            color: $color-white-0;
            text-align: left;
        }
        &:hover{
            cursor: pointer;
        }
        ul{
            list-style-type: none;
            li{
                padding-bottom: 3px;
                a{
                    color: #a7a7a7;
                    transition: all .05s;
                    font-weight: 100;
                    &:hover{
                        color: $color-white-0;
                        text-decoration: none;
                    }
                }
            }
        }
        .company-collapse{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $color-gray;
        }
    }
}
.sw{
    background-color: #242424;
        p{
            color: $color-white-0;
            text-align: left;
        }
        ul{
            list-style-type: none;
            li{
                padding-bottom: 3px;
                a{
                    color: #a7a7a7;
                    transition: all .05s;
                    font-weight: 100;
                    &:hover{
                        color: $color-white-0;
                        text-decoration: none;
                    }
                }
            }
        }
}
.sw__content{
    background-color: #242424;
        p{
            color: $color-white-0;
            text-align: left;
        }
        &:hover{
            cursor: pointer;
        }
        ul{
            list-style-type: none;
            li{
                padding-bottom: 3px;
                a{
                    color: #a7a7a7;
                    transition: all .05s;
                    font-weight: 100;
                    &:hover{
                        color: $color-white-0;
                        text-decoration: none;
                    }
                }
            }
        }
}
.company__large-window{
    display: flex;
}
.company__medium-window{
    display: none;
}
.company__small-window{
    display: none;
}
@include responsive("large"){
    .company__large-window{
        display: none;
    }
    .company__medium-window{
        display: flex;
    }
    .company__small-window{
        display: none;
    }
}
@include responsive("medium"){
    .company__large-window{
        display: none;
    }
    .company__medium-window{
        display: none;
    }
    .company__small-window{
        display: block;
    }
 } 