.new {
  padding: 0 15px;
  .new-top {
    .new-top-right {
      text-align: center;
      h5 {
        @include styleText($color-black-0, $fs-4, $fw-normal);
        padding-top: 80px;
        letter-spacing: 3px;
      }
      p {
        @include styleText($color-gray, $fs-0, $fw-bold-0);
      }
    }
  }
  .new-item {
    position: relative;
    img {
      transition: all 0.5s;
      transform: scale(1);
    }
    .new-content {
      position: absolute;
      bottom: 1px;
      left: 0;
      align-items: center;
      padding-top: 5px;
      justify-content: space-between;
      background: rgba(2, 118, 179, 0.8);
      cursor: pointer;
      .new-icon {
        .fa {
          width: 30px;
          height: 33px;
          padding: 7px;

          border-radius: 50%;
          border: 1px solid $color-white-0;
          line-height: 1;
          text-align: center;
        }
        .fa:hover {
          @include styleButtonHover(
            $color-white-0,
            $color-blue-2,
            $color-blue-0
          );
        }
      }
    }
    .new-ford {
      padding: 15px;
      p:first-child {
        @include styleText($color-white-0, $fs-2, $fw-normal);
      }
      .fa {
        width: 44px !important;
        height: 45px !important;
        padding: 15px !important;

        border-radius: 50%;
        border: 1px solid $color-white-0;
      }
    }
    &:hover {
      img {
        overflow: hidden;
        transform: scale(1.02);
      }
    }
  }
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.new-2 {
  padding: 0 15px;
  h5{
    text-align: center;
    @include styleText($color-black-0,$fs-2,$fw-normal);
    padding: 30px 0;
  }
  .new-item {
    .img-special {
      width: 714px !important;
    }
  }
  .new-viewmore{
    background: $color-blue-2;
    p.new-view{
      text-align: center;
      padding-top: 15px;
    }
    a.new-btn{
        @include styleText($color-white-0,$fs-3,$fw-bold-0);
        text-decoration: none;
        line-height: $line-height;
    }
    .icon{
      width: 30px;
      height: 33px;
      padding: 7px;

      border-radius: 50%;
      border: 1px solid $color-white-0;
    }
  }
}
