.update{
    background-color: #102b4e;
    p{
        color: $color-blue-1;
    }
    a{
        text-decoration: none;
        font-size: $fs-3;
    }
}
@include responsive("large"){
    .update__hidden{
        display: none;
    }
} 